crash-reports
data
defaultconfigs
Distant_Horizons_server_data
downloads
logs
saves
schematics
screenshots
XaeroWaypoints
.curseclient
.qmenu_opened.marker
.sl_password
minecraftinstance.json
usercache.json
usernamecache.json
*.dat
*.txt
*.log
*.dat_old
config